@charset "UTF-8";  
  body {
            background-color: lightsteelblue;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;     
        }
        h1 {
            color: mediumorchid;
            background-color: yellow;
        }
        h2 {
            color: brown;
            background-color: gray;
        }
        p {
            text-align: justify;
        }